
[Unit]
Description=coturn ({{ coturn_identifier }})
{% for service in coturn_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
{% for service in coturn_systemd_wanted_services_list %}
Wants={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
ExecStartPre=-{{ sysd_docker_host_sh }} -c '{{ sysd_docker_host_command }} stop -t {{ sysd_docker_stop_grace }} {{ coturn_identifier }} 2>/dev/null || true'
ExecStartPre=-{{ sysd_docker_host_sh }} -c '{{ sysd_docker_host_command }} rm {{ coturn_identifier }} 2>/dev/null || true'

ExecStartPre={{ sysd_docker_host_command }} create \
      --rm \
      --name={{ coturn_identifier }} \
      --log-driver=none \
      --network={{ coturn_container_network_mode }} \
      --mount type=bind,src={{ coturn_base_path }}/turnserver.conf,dst=/etc/coturn/turnserver.conf,ro \
      {% for volume in coturn_container_additional_volumes %}
      --mount type={{ volume.type | default('bind' if '/' in volume.src else 'volume') }},src={{ volume.src }},dst={{ volume.dst }}{{ (',' + volume.options) if volume.options else '' }} \
      {% endfor %}
      {% for arg in coturn_container_extra_arguments %}
      {{ arg }} \
      {% endfor %}
      {{ coturn_container_image }} \
      -c /etc/coturn/turnserver.conf

ExecStart={{ sysd_docker_host_command }} start --attach {{ coturn_identifier }}

ExecStop=-{{ sysd_docker_host_sh }} -c '{{ sysd_docker_host_command }} stop -t {{ sysd_docker_stop_grace }} {{ coturn_identifier }} 2>/dev/null || true'
ExecStop=-{{ sysd_docker_host_sh }} -c '{{ sysd_docker_host_command }} rm {{ coturn_identifier }} 2>/dev/null || true'

Restart=always
RestartSec=30
SyslogIdentifier={{ coturn_identifier }}

[Install]
WantedBy=multi-user.target
